/* 
colors used:
primary color: (royal blue): #03256C 
secondary color: (pine green): #167F6F
tertiary color: (denim): #0059B2
background color: (bone): #DDDACB
text color: (black): #000000
second text color: (white) #FFFFFF
*/

* {
    box-sizing: border-box;
}
body {
    background-color: #dddacb;
    font-family: 'open sans', sans-serif;
    font-size: 16px; 
    font-weight: 300;
    line-height: 1.6;
    color: #000000
}
h1, h2, h3, h4 {
    line-height: 1.4;
    color: #03256c
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 {
    font-size: 1.75em;
    font-weight: 400;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}
img {
    width: 100%;
}

a:link {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}
a:visited {
    color: #03256c;
    font-weight: 600;
} 
a:hover {
    color: #167f6f;
    text-decoration: underline;
    font-weight: 600;
} 
a:active {
    color: #0059b2
}

.button.cv {
    display: inline-block;
    background-color: #03256c;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    border-radius: 8px;
    border-bottom: 2px solid #03256c;
    transition: 0.2s opacity;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(39, 71, 99, 0.5);
-moz-box-shadow:    7px 7px 5px 0px rgba(39, 71, 99, 0.5);
box-shadow:         7px 7px 5px 0px rgba(39, 71, 99, 0.5);
}
.button.cv:hover {
    border-radius: 8px;
    opacity: 0.8;
    color: #ffffff;
}

.button.read {
    display: inline-block;
    background-color: #03256c;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    border-radius: 8px;
    border-bottom: 2px solid #03256c;
    transition: 0.2s opacity;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(39, 71, 99, 0.5);
-moz-box-shadow:    7px 7px 5px 0px rgba(39, 71, 99, 0.5);
box-shadow:         7px 7px 5px 0px rgba(39, 71, 99, 0.5);
}
.button.read:hover {
    border-radius: 8px;
    opacity: 0.8;
    color: #ffffff;
}
.button.contact {
    display: inline-block;
    background-color: transparent;
    color: #167f6f !important;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #167F6F;
    transition: 0.2s opacity;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(39, 71, 99, 0.5);
-moz-box-shadow:    7px 7px 5px 0px rgba(39, 71, 99, 0.5);
box-shadow:         7px 7px 5px 0px rgba(39, 71, 99, 0.5);
}
.button.contact:hover {
    border-radius: 8px;
    background-color: #167f6f;
    color: #ffffff !important;
}

/* Layout styling */
.container {
    padding: 0 30px;
}
.row {
    margin: 25px 0;
}
#hero h1 {
    text-align: center;
}
#expert h1 {
    text-align: center;
}

#about h1 {
    text-align: center;
}
#about h2 {
    text-align: center;
}
#about .cv1 {
    text-align: center;
}
#about .cv2 {
    text-align: center;
}
#about .cv3 {
    text-align: center;
}
#about .cv1 > ul {
    list-style-type: none;
    padding: 0;
}
#about .cv2 > ul {
    list-style-type: none;
    padding: 0;
}
#about .cv3 > ul {
    list-style-type: none;
    padding: 0;
}


#hero .container > span > p {
    text-align: center;
    padding-left: 15px; padding-right: 15px;
}
.logo {
    max-width: 250px;
}
header {
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(147, 147, 147, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(147, 147, 147, 0.75);
box-shadow:         7px 7px 5px 0px rgba(147, 147, 147, 0.75);
}
nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a
}
nav > ul > li > a:visited {
    color: #03256c;
    font-weight: 700;
} 
nav > ul > li > a:hover {
    color: #167f6f;
    text-decoration: underline;
    font-weight: 700;
} 
nav > ul > li > a:active {
    color: #0059b2
}
nav {
    display: inline-block;
    width: 100%;
}
#hero {
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}
main {
    padding-top: 133px;
}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
}
.container-column {
    text-align: left;
    padding: 5%;
}

#contact > .container {
    background-color: #ffffff;
    text-align: center;
    padding-top: 15px; padding-bottom: 15px;
}
footer > div.container > div.social > ul {
    list-style-type: none;
}
footer > div.container > div.social > ul > li {
    display: inline-block;
}
footer > div.container > div.social > ul > li > a {
    padding: 0 15px;
}


