/* 
colors used:
primary color: (royal blue): #03256C 
secondary color: (pine green): #167F6F
tertiary color: (denim): #0059B2
background color: (bone): #DDDACB
text color: (black): #000000
second text color: (white) #FFFFFF
*/

* {
    box-sizing: border-box;
}
body {
    background-color: #dddacb;
    font-family: 'open sans', sans-serif;
    font-size: 16px; 
    font-weight: 300;
    line-height: 1.6;
    color: #000000
}
h1, h2, h3, h4 {
    line-height: 1.4;
    color: #03256c
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 {
    font-size: 1.75em;
    font-weight: 400;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}
img {
    width: 100%;
}

a:link {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}
a:visited {
    color: #03256c;
    font-weight: 600;
} 
a:hover {
    color: #167f6f;
    text-decoration: underline;
    font-weight: 600;
} 
a:active {
    color: #0059b2
}

.button.cv {
    display: inline-block;
    background-color: #03256c;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    border-radius: 8px;
    border-bottom: 2px solid #03256c;
    transition: 0.4s opacity;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(39, 71, 99, 0.5);
-moz-box-shadow:    7px 7px 5px 0px rgba(39, 71, 99, 0.5);
box-shadow:         7px 7px 5px 0px rgba(39, 71, 99, 0.5);
}
.button.cv:hover {
    border-radius: 8px;
    opacity: 0.8;
    color: #ffffff;
}

.button.read {
    display: inline-block;
    background-color: #03256c;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    border-radius: 8px;
    border-bottom: 2px solid #03256c;
    transition: 0.4s opacity;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(39, 71, 99, 0.5);
-moz-box-shadow:    7px 7px 5px 0px rgba(39, 71, 99, 0.5);
box-shadow:         7px 7px 5px 0px rgba(39, 71, 99, 0.5);
}
.button.read:hover {
    border-radius: 8px;
    opacity: 0.8;
    color: #ffffff;
}
.button.contact {
    display: inline-block;
    background-color: transparent;
    color: #167f6f !important;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #167F6F;
    transition: 0.4s opacity;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(39, 71, 99, 0.5);
-moz-box-shadow:    7px 7px 5px 0px rgba(39, 71, 99, 0.5);
box-shadow:         7px 7px 5px 0px rgba(39, 71, 99, 0.5);
}
.button.contact:hover {
    border-radius: 8px;
    background-color: #167f6f;
    color: #ffffff !important;
}

/* Layout styling */
.container {
    padding: 0 30px;
}
.row {
    margin: 25px 0;
}
#hero h1 {
    text-align: center;
}
#expert h1 {
    text-align: center;
}

#about h1 {
    text-align: center;
}
#about h2 {
    text-align: center;
}
#about .cv1 {
    text-align: center;
}
#about .cv2 {
    text-align: center;
}
#about .cv3 {
    text-align: center;
}
#about .cv1 > ul {
    list-style-type: none;
    padding: 0;
}
#about .cv2 > ul {
    list-style-type: none;
    padding: 0;
}
#about .cv3 > ul {
    list-style-type: none;
    padding: 0;
}

#hero .container > span > p {
    text-align: center;
    padding-left: 15px; padding-right: 15px;
}
.logo {
    max-width: 150px;
}
header {
    background-color: #ffffff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(147, 147, 147, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(147, 147, 147, 0.75);
box-shadow:         7px 7px 5px 0px rgba(147, 147, 147, 0.75);
}
nav > ul {
    list-style-type: none;
    padding: 0;
}
.navtoggle li:not(:last-child) {
    display: none;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a
}
nav > ul > li > a:visited {
    color: #03256c;
    font-weight: 700;
} 
nav > ul > li > a:hover {
    color: #167f6f;
    text-decoration: underline;
    font-weight: 700;
} 
nav > ul > li > a:active {
    color: #0059b2
}
nav {
    display: inline-block;
    width: 100%;
}
#hero {
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}
main {
    padding-top: 133px;
}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
}
.container-column {
    text-align: left;
    padding: 5%;
}

#contact > .container {
    background-color: #ffffff;
    text-align: center;
    padding-top: 15px; padding-bottom: 15px;
}
footer > div.container > div.social > ul {
    list-style-type: none;
}
footer > div.container > div.social > ul > li {
    display: inline-block;
}
footer > div.container > div.social > ul > li > a {
    padding: 0 15px;
}
[class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-sm-12 {
    width: 100%;
}
.logoWrapper {
    margin-top: 20px;
    float: left;
}

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414}
}
@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}
@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px,48px);}
}
.sun {
    animation: 4s color-change infinite alternate linear;
}
.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change-2 {
    0% {fill: #74d84d;}
    50% {fill: #1d862f;}
    100% {fill: #14f7b3;}
}

.avocado {
    animation: 10s color-change-2 infinite alternate linear;
}

@keyframes food-move {
    from {transform: translate(162px, 267px);}
    to {transform: translate(142px, 267px);}
}
.food {
    animation: 10s food-move infinite alternate linear;
}

@keyframes world-move {
    from {transform: translate(238px, 215px);}
    to {transform: translate(208px, 215px);}
}

.world {
    animation: 10s world-move infinite alternate linear;
}

@keyframes day-move {
    from {transform: translate(215px, 295px);}
    to {transform: translate(245px, 295px);}
}
.day {
    animation: 10s day-move infinite alternate linear;
}

/*===============================
Medium devices (640px and larger)
================================*/
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
    nav > ul > li {
        min-width: 641px;
        display: inline-block;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    main {
        padding-top: 99px;
    }
    body {
        font-size: 18px;
    }
    #hero {
        text-align: center;
    }
    #hero span {
        display: block;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-4 {
        width: 33.33%
    }
    #about h3 {
        margin-top: 0;
    }

}
/*===============================
Large devices (1024px and larger)
================================*/
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 58.33%
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

}

/*===============================
X-large devices (1440px and larger)
================================*/
@media only screen and (min-width: 1440px) {

}

